* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Para que las imagenes se adapten */
img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

:root {
    --color-oscuro: #090a18; 
    --color-gris: #737373; 
    --color-claro: #D9D9D9; 
}

body {
    /* FUENTES */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1320px;
}

.col {
    width: 100%;   
}

.heading-line::before {
    content: "";
    width: 13rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    background-color: var(--color-oscuro);
}

.heading-line--claro::before {
    background-color: var(--color-claro);
}


/* BARRA DE NAVEGACION  */
header {
    padding: 0.5rem 0 0.5rem 0;
    min-height: 4rem;
    background-color:var(--color-oscuro);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgba(29, 31, 53, 0.45);
    text-align: center;
}

.nav {
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}

/* MENU HAMBURGUESA */
.nav-toggle {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}


/* Etiqueta <a> */
.nav__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav__item {
    margin-top: 0.75rem;
}

.nav__list {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

.nav__espacio {
    widht: 100%;
    height: 3rem;
}



/* INICIO SECCION 1 */

.inicio {
    background-color: var(--color-oscuro);
    padding: 3rem 0 0 0;
    height: 100%;
    width: 100%;
}

.svg__inicio {
    transform: translateY(-0.5rem);
    position: relative;
    z-index: -1;
}

.inicio__h1  {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-claro);
    margin-bottom: 1rem;
}

.inicio__h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-claro);
}

.inicio__p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-claro);
    margin: 1rem 0;
}

.inicio__img {
    /* max-width: 40vh; */
    margin-top: 2rem;
}

.flex_between {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.inicio__animacion {
    animation-duration:4s;
    animation-name: aparecer;
    /* animation-delay: 0.5s; */
    animation-iterator-count: 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* SECCION 2 PROYECTOS */

.proyectos__h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-oscuro);
    margin-bottom: 1rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    text-align: center;
    width: 350px;
    height: 550px;
    margin: 2rem;
    padding: 2rem 2rem 4rem 2rem;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.45);
    border-radius: 5%;
    transition: transform 0.3s;
    display: grid;
    grid-gap: 1rem;
    grid-temlate-columns: 1fr;
    grid-template-rows: 40% 10% 50%;
    grid-template-areas: 
        "img"
        "tittle"
        "abajo";
}

.card:hover {
    transform: scale(1.1667);
}

.card--light {
    background-color: var(--color-claro);
}

.card--dark {
    background-image: linear-gradient(to right,rgb(9, 10, 24),rgb(63, 67, 122));
    color: #fff;
}

.card__img {
    grid-area: img;
    max-width: 100%;
    border-radius: 10px;
}

.card__img-dulce {
    grid-area: img;
    max-width: 100%;
    height: 100%;
    justify-self: center;
}
.card__tittle {
    grid-area: tittle;
}

.card__description {
    /* margin: 0.5rem 0; */
    /* min-height: 21vh;  */
}

.card__abajo {
    grid-area: abajo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__svg {
    display: flex;
    justify-content: center;
}

.card__svg__iconos {
    margin: 0 1rem;
}

.fak {
    padding: 1rem;
    font-size: 4rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 75%;
  }

  .fak:hover {
    opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background: #24292e;
    color: white;
  }


/* SECTION 3 - EDUCACION */

#educacion {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

.svg__educacion {
    transform: translateY(0.5rem);
}

.flex__educacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.educacion__item {
    padding: 1rem 0;
}
.educacion__h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.educacion__h2 {
    margin: 1rem 0 1rem 0;
}

.educacion__segrenglon {
    margin-bottom: 1rem;
}

.educacion__descripcion {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-claro);
}

.educacion__ulti {
    margin-bottom: 1rem;
}


/* SECTION 4 - SKILLS */

#skills {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    text-align: center;
}

.skills__h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 0.5rem
}

.skills__h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-claro);
    margin-bottom: 0.25rem;
}

.skills__li {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-claro);
}

.skills__item {
    margin-bottom: 2rem;
}

.heading-line--skills::before {
    content: "";
    width: 6rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    background-color: var(--color-claro);
    margin-bottom: 2rem;
}

.skills__padding {
    padding: 5rem 0 2.5rem 0;  
}



/* SECTION 5 - CONTACTO */
#contacto {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    text-align: center;
    padding: 2.5rem 0 5rem 0;
}

.contacto__h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.heading-line--contacto {
    content: "";
    width: 10rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    background-color: var(--color-claro);
    margin-bottom: 2rem;
}

.contacto__info {
    margin: 2rem 0;
}

.contacto__linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    transition: transform 0.3s;
}

.contacto__linea:hover {
    transform: scale(1.1667);
}

.contacto__iconos {
    width: 50px;
    height: 50px;
}

.contacto__p {
    color: var(--color-claro);
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
}



/* SERRAHOME */

.serrahome {
    margin: 4rem 0 4rem 0;
    min-height: 80vh;
}

.serrahome__h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-oscuro);
    margin-bottom: 1rem;
}

.serrahome__p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-oscuro);
    margin-bottom: 1rem;
    
}

.serrahome__h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-oscuro);
    margin: 3rem 0 0.5rem 0;
    text-align: center;
}

.heading-line-demo::before {
    content: "";
    width: 17rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    background-color: var(--color-oscuro);
}

.serrahome__video {
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.45);

}

.flex_serrahome__tecnologias {
    display: flex;
    justify-content: space-evenly;
}

.serrahome_tecnologias {
    height: 6vh;
    margin-bottom: 5rem;
    transition: transform 0.3s;
}

.serrahome_tecnologias:hover {
    transform: scale(1.3667);
}

.serrahome__linkedin {
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.heading-line-linkedin::before {
    content: "";
    width: 19rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    background-color: var(--color-oscuro);
}


/* FOOTER */
#footer {
    background-color: #090a18;
    color: white;
    text-align: center;
    padding: 0.4rem 0;
    box-shadow: 0 0 30px 0 rgba(29, 31, 53, 0.45);
    
}


.footer__icon {
    margin: 0.2rem 0.4rem;
}


/* BOTONES */
.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    display: inline-block;
    margin: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.degrade {background-image: linear-gradient(to right, #6c757d, #adb5bd);} 
.degrade:hover {background-image: linear-gradient(to right, #848b92, #adb5bd);;}


@media (min-width: 430px) {
    .inicio__img {
        max-width: 40vh;
    }

    .heading-line-demo::before { 
        width: 25rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }

    /* SECCION 1 - INICIO */
    .flex_between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .inicio__img {
        margin-right: 5rem;
    }
    
    .inicio__text{
        max-width: 50%;
    }

    .serrahome_tecnologias {
        height: 9vh;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 80%;
    }

    /* BARRA DE NAVEGACION */
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        height: auto;
        position: relative;
    }

    .flex__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__link {
        margin-left: 1.5rem;
    }

    .nav__espacio {
        widht: 0px;
        height: 0px;
    }

    .serrahome_tecnologias {
        height: 12vh;
    }

}
    

@media (min-width: 1200px) {
    /* SECCION 2 PROYECTOS */
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-araund;
    }

    /* SECTION 3 - SKILLS */
    .flex__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 3rem;
    }

    /* SERRAHOME */
    .flex_serrahome {
        display: flex;
        justify-content: space-between;
    } 
    
    .serrahome__text {
        max-width: 50%;
    }

    .serra__columna__margin {
        margin: 0 0 0 5rem;
    }   
    
    .serrahome__flex-direction-column {
        display: flex;
        flex-direction: column;        
    }

    .serrahome__video {
        max-width: 800px;
        max-widht: 800px;
    }
}






