* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

:root {
    --color-oscuro: #090a18; 
    --color-gris: #737373; 
    --color-claro: #D9D9D9; 
}

body {
    /* FUENTES */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 2100px;
}

.col {
    width: 100%;   
}

.h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.h3 {
    font-size: 1.2rem;
    font-weight: 600;
}


/* BARRA DE NAVEGACION  */
header {
    padding: 3rem 0 3rem 0;
    background-color:var(--color-oscuro);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgba(29, 31, 53, 0.45);
}

.flex__center {
    display: flex;
    justify-content: center;
}

.nav__list {
    list-style: none;
}

.nav__link {
    margin-left: 1.5rem;
}

/* Etiqueta <a> */
.nav__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}


/* INICIO SECCION 1 */
#inicio {
    background-color: var(--color-oscuro);
}

.inicio {
    padding: 8rem 10rem 0 10rem;:
}

.flex_between {
    display: flex;
    justify-content: space-between;
    
}

.inicio__text{
    max-width: 50%;
}

.inicio__h1  {
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--color-claro);
    margin-bottom: 1rem;
}

.inicio__h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-claro);
}

.inicio__p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-claro);
    margin-top: 1rem;
}

.inicio__img {
    max-width: 500px;
    
}

/* SECCION 2 PROYECTOS */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-araund;
}

.proyectos__h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-oscuro);
    margin-bottom: 1rem;
    text-align: center;
}

.card {
    max-width: 350px;
    min-height: 450px;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.45);
    border-radius: 5%;
}

.card--light {
    background-color: var(--color-claro);
}

.card--dark {
    background-image: linear-gradient(to right,rgb(9, 10, 24),rgb(63, 67, 122));
    color: #fff;
}

.card__img {
    max-width: 100%;
    border-radius: 10px;
}

.card__tittle {
    margin: 1rem 0 0.5rem 0;
}

.card__description {
    margin: 0.5rem 0;
}


/* SECTION 3 - EDUCACION */

#educacion {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

.flex__educacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.educacion__item {
    padding: 1rem 0;
}
.educacion__h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.educacion__h2 {
    margin: 1rem 0 1rem 0;
}

.educacion__segrenglon {
    margin-bottom: 1rem;
}

.educacion__descripcion {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-claro);
}

.educacion__ulti {
    margin-bottom: 1rem;
}


/* SECTION 3 - SKILLS */

#skills {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

.skills__h1 {
    margin-bottom: 2rem;
    text-align: center;
    paddding: 8rem 0 2rem 0;
}

.flex__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills__padding {
    padding: 10rem 0 10rem 0;  
}

/* SERRAHOME */

.serrahome {
    margin: 4rem 0 4rem 0;
    min-height: 80vh;
}

.flex_serrahome {
    display: flex;
    
    
}

.serrahome__text {
    max-width: 50%;
}

.serrahome__h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-oscuro);
    margin-bottom: 1rem;
}

.serrahome__p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-oscuro);
    margin-bottom: 1rem;
    
}

.serrahome__h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-oscuro);
    margin: 3rem 0 1rem 0;
}

.serrahome__video {
    max-width: 100%;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.45);

}

.flex_serrahome__tecnologias {
    display: flex;
    justify-content: space-around;
}

.serra__columna__margin {
    margin: 0 1rem 0 5rem;
}   

.serrahome_tecnologias {
    widht: 6vh;
    height: 6vh;
    margin-bottom: 5rem;
}

.serrahome__flex-direction-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* FOOTER */
#footer {
    background-color: #090a18;
    color: white;
    text-align: center;
    padding: 0.4rem 0;
    box-shadow: 0 0 30px 0 rgba(29, 31, 53, 0.45);
    
}


.footer__icon {
    margin: 0.2rem 0.4rem;
}


/* BOTONES */
.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    display: inline-block;
    margin: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.degrade {background-image: linear-gradient(to right, #6c757d, #adb5bd);} 
.degrade:hover {background-image: linear-gradient(to right, #848b92, #adb5bd);;}





